.header-portrait-image {
    max-height: 100px;
    border-radius: 50%;
}

.header-portrait-container {
    margin: 50px 0 50px 0 !important;
}

.header-name {
    font-size: 22px;
}

.header-sub-text {
    font-size: 10px;
}

.header-about-me-text {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}