.header-portrait-image {
    max-height: 100px;
    border-radius: 50%;
}

.header-portrait-container {
    margin: 100px 0 100px 0;
}

.header-name {
    font-size: 18px;
    margin: 5px 0 5px 0;
}

.header-sub-text {
    font-size: 10px;
}